*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Clarisse */



/*Antoine*/
section.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 85.4%), url('img/hero.jpeg');
    background-size: 100%;
    height: 680px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.btn-share {
    background: #0E6248;
    border-radius: 4px;
    color: white;
}