*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

        /* Clarisse */

    /*WhatWeDo*/
.whatWeDo{
    /*margin-left: 249.5px;
    margin-right: 249.5px;*/
    margin-top: 120px;
}

.whatWeDo .mission{
    margin-top: 8px;
}
.whatWeDo .volunteer{
    width: 20%;
}
.whatWeDo .btn{
    color: white;
    background-color:rgba(14, 98, 72, 1);
}
.whatWeDo .mission span{
    margin-right:56px;
}

.whatWeDo .cards{
    margin-top: 92px;
}
.whatWeDo .card{
    border-radius: 8px;
    margin-right: 38px;
}
.whatWeDo .card1{
    margin-left: 0.5px;
}
.whatWeDo .card3{
    margin-right: 24.5px;
}
.whatWeDo .card-img-top{
    position: relative;
    top: -24px;
    left: 24px;
}



    /*Stats*/
.stats{
    margin-top: 120px;
}
.chiffres{
    background-color: rgba(251, 248, 246, 1);
}

    /*Donate*/
.donate{
    margin-top: 100px;
}
.donate form{
    border: 1px solid #FBF8F6;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(16, 114, 83, 0.16);
    border-radius: 4px;
}
form .submit{
    color: white;
    background-color:rgba(14, 98, 72, 1);
}

    /*Reading Ressource*/
.readingResources{
    margin-top: 160px;
}
.readingResources .partner{
    margin-bottom: 60px;
}
.readingResources .btn{
    color: white;
    background-color:rgba(14, 98, 72, 1);
}

    /*Newsletter*/
.newsletter{
    color: white;
    background-color: rgba(14, 98, 72, 1);
    border-radius: 8px;
    margin-top: 120px;
    margin-bottom: 104px;
}
.newsletter .btn{
    color:rgba(14, 98, 72, 1);
    background-color:rgba(255, 255, 255, 0.851);
}


    /*Footer*/
footer{
    color: white;
    background-color: rgba(39, 39, 39, 1);
}

/*Antoine*/

/*** Section Hero ***/

section.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 85.4%), url('img/hero.jpeg');
    background-size: 100%;
    height: 680px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.jumbotron {
    margin-top: 150px;
    background: transparent;
}

.display-4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.btn-share, .btn-volunteer {
    background: #0E6248;
    border-radius: 4px;
    color: white;
}

.btn-learn-more {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
}

/*** Section Quick Infos ***/

section.quickInfo {
    background-color: #FBF8F6;
}

.col-8 > p:nth-child(1) {
    font-size: 1.4rem;
    color: #272727;
}

/*** Section Gallery ***/

section.gallery {
    height: 382px;
    background-color: tomato;
}

#un {
    position: absolute;
    width: 240px;
    height: 320px;
    left: 320px;
    top: 1829px;

    background: url(img/Gallery/gallery_1.jpg);
    border-radius: 8px;
}

#deux {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 164px;
    top: 1819px;

    background: url(img/Gallery/gallery_2.jpg);
    border-radius: 8px;
}

#trois {
    position: absolute;
width: 120px;
height: 120px;
left: 1174px;
top: 1815px;

background: url(img/Gallery/gallery_3.jpg);
border-radius: 8px;
}

#quatre {
    
position: absolute;
width: 160px;
height: 160px;
left: 593px;
top: 1975px;

background: url(img/Gallery/gallery_4.jpg);
border-radius: 8px;
}

#cinq {
    position: absolute;
width: 160px;
height: 216px;
left: 1449px;
top: 1951px;

background: url(img/Gallery/gallery_5.jpg);
border-radius: 8px;
}

#six {
    
position: absolute;
width: 160px;
height: 160px;
left: 1174px;
top: 1981px;

background: url(img/Gallery/gallery_6.jpg);
border-radius: 8px;
}

#sept {
    position: absolute;
width: 160px;
height: 160px;
left: -144px;
top: 1975px;

background: url(img/Gallery/gallery_7.jpg);
border-radius: 8px;
}

#huit {
    
position: absolute;
width: 160px;
height: 160px;
left: 782px;
top: 1995px;

background: url(img/Gallery/gallery_8.jpg);
border-radius: 8px;
}

#neuf {
    
position: absolute;
width: 160px;
height: 306px;
left: 978px;
top: 1851px;

background: url(img/Gallery/gallery_9.jpg);
border-radius: 8px;
}

#dix {
    position: absolute;
width: 200px;
height: 160px;
left: 84px;
top: 1985px;

background: url(img/Gallery/gallery_10.jpg);
border-radius: 8px;
}

#onze {
    position: absolute;
width: 200px;
height: 120px;
left: 1411px;
top: 1805px;

background: url(img/Gallery/gallery_11.jpg);
border-radius: 8px;
}

#douze {
    position: absolute;
width: 336px;
height: 144px;
left: 606px;
top: 1805px;

background: url(img/Gallery/gallery_12.jpg);
border-radius: 8px;
}

#treize {
    
position: absolute;
width: 336px;
height: 144px;
left: -256px;
top: 1805px;

background: url(img/Gallery/gallery_13.jpg);
border-radius: 8px;
}