*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Clarisse */
.whatWeDo{
    margin-left: 249.5px;
    margin-right: 249.5px;
}
.whatWeDo .btn{
    color: white;
    background-color:rgba(14, 98, 72, 1);
}



/*Antoine*/
section.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 85.4%), url('img/hero.jpeg');
    background-size: 100%;
    height: 680px;
}